html { 
    background: url('./media/images/book_background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body {
    background: transparent;
}

/* Navigation */
.navbar {
    background-color: black;
}

.navbar-inner {
    margin-right: auto; margin-left: auto;
    width: 940px;
}

.navbar a.brand {
    font-family: Redressed;
    font-size: 20pt;
    color: #eee;
}

.navbar a.brand:hover {
    text-shadow: 0px 0px 10px white;
}

.container {
    padding-top: 20px;
}

.nav .icon-white {
    margin-right: 15px;
}

.resume {
    padding-top: 10px;
}

/* Content */
.content-bubble {
    background: rgba(27, 27, 27, .90);
    padding: 20px 40px 40px 40px;
    color: #eee;
    margin-top: 50px;
}

.content-bubble h1 {
    margin-bottom: 30px;
    font-family: Redressed;
    font-size: 35pt;
}

.content-bubble p {
    line-height: 25px;
    font-size: 15px;
}

.content-bubble img {
    margin: 5px 20px 18px 20px;
}

blockquote h3 {
    font-family: Redressed;
    text-shadow: 0px 0px 2px gray;
}

blockquote small {
    margin-top: 30px;
    font-size: 12pt;
    font-family: helvetica;
}