html { 
    background: url('../media/images/book_background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body {
    background: transparent;
}

/* Font */
@font-face {
    font-family: BookA;
    src: url('../media/fonts/book_antiqua.ttf');
}

body p {
    font-family: Calibri;
}

/* Navigation */
.navbar {
    background-color: #000000;
}

.navbar-inner {
    margin-right: auto; margin-left: auto;
    width: 940px;
}

.navbar a.brand {
    font-family: Redressed;
    font-size: 20pt;
    color:  #f63e62;
    text-shadow: 0px 0px 10px  #f63e62;
}

.navbar a.brand:hover {
    text-shadow: 0px 0px 15px  #f63e62;
    color: #ffffff; 
}

.container {
    padding-top: 20px;
}

.nav .icon-white {
    margin-right: 15px;
}

.resume {
    padding-top: 10px;
}

/* Content */
.content-bubble {
    background: rgba(27, 27, 27, .90);
    padding: 20px 40px 40px 40px;
    color: #eee;
    margin-top: 50px;
}

.content-bubble h1 {
    margin-bottom: 30px;
    font-family: Fondamento;
    font-size: 35pt;
}

.content-bubble p {
    line-height: 25px;
    font-size: 15px;
}

.content-bubble img {
    margin: 5px 20px 18px 20px;
}

blockquote {
    border-left: 0px solid black;
}

blockquote h3 {
    font-family: calibri;
    font-size: 13pt;
}

blockquote small {
    margin-top: 15px;
    font-size: 12pt;
    font-family: calibri;
}

/* Footer */
#footer {
    background: rgba(27, 27, 27, .90);
    color: #eee;
    margin-top: 15px;
    padding: 5px;
    text-align: center;
}

#footer p {
    margin-top: 10px;
}
